@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body,
html {
  min-height: 100vh;
  color-scheme: light dark;
}

@media screen and (prefers-color-scheme:dark) {
  html,
  body {
    color-scheme: dark;
  }
}

@theme {
  --color-page-background-token: light-dark( var(--color-zinc-200),var(--color-zinc-800));
  --color-page-text-token: light-dark(var(--color-zinc-900), var(--color-zinc-100));
  --color-iron-token: light-dark(#767778, #d4d7d8);
  --color-bronze-token: light-dark(#9e6226 ,#cd7f32 );
  --color-silver-token: light-dark(#C0C0C0, #c0c0c0);
}

@layer base {
  h1 {
    font-size: var(--text-5xl);
    font-weight: var(--font-weight-bold);
  }
  h2 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-semibold);
  }
  h3 {
    font-size: var(--text-2xl);
  }
  h4 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-thin);
  }
  h5 {
    text-decoration: underline;
    font-size: var(--text-lg);
  }
  h6 {
    font-weight: var(--font-weight-bold);
  }
  h1,h2, h3,h4,h5,h6 {
    margin-block-end: var(--spacing);
    small {
      font-size: 0.85em;
      margin-inline-start: calc(var(--spacing)*2);
      /* background-color: orange; */
      color: color-mix(in oklch, currentColor 45%,  light-dark(#000, #fff) 30%);
    }
  }
}

@layer components {
  .card {
    border-radius: var(--radius-lg);
    background-color: var(--color-slate-200);
    color: var(--color-zinc-900);

    > img {
      border-radius: var(--radius-lg) var(--radius-lg) 0 0 ;
    }

    > header,
    .card-header {
      padding: calc(var(--spacing) * 4) calc(var(--spacing) * 4) 0;
    }

    .card-body {
      padding: 0 calc(var(--spacing) * 4);
    }

    > footer,
    .card-footer {
      padding: 0 calc(var(--spacing) * 4) calc(var(--spacing) * 4);
    }

  }
}
